/* Write your CSS here */
.navDark {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  min-width: 100vw;
}
.unorder {
  display: flex;
}
.navLight {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: black;
  min-width: 100vw;
}
.list {
  list-style-type: none;
  margin-left: 20px;
}
.img1 {
  background-color: transparent;
  border-width: 0px;
  height: 30px;
  width: 80px;
}
